@import '../../../Variables/Variables.scss';

.add-user-container{
    width: 100vw;
    padding: 20px 0px;
    min-height: 140vh;
    position: relative;

    background-image: url('/Kaufland-background.jpg');
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .overlay{
        width: 100vw;
        background-color: black;
        opacity: 0.84;

        z-index: 2;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .form-container{
        @media only screen and (max-width: $small-screen-width) {
            width: 80%;
        }

        @media only screen and (max-width: $medium-screen-width) and (min-width: $small-screen-width){
            width: 70%;
        }

        @media only screen and (min-width: $medium-screen-width){
            width: 65%;
        }

        z-index: 3;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);

        background: $main-admin-panel-bcg-color;
        text-align: center;
        padding-bottom: 50px;

        .input-container{
            margin: 5px 0px 10px;


            &__input{
                width: 50%;
                padding: 3px 7px;
                margin-top: 5px;
            }
        }

        .buttons-part-container{
            margin-top: 20px;

            &__button{
                font-size: 18px;
                margin: 10px;
                background-color: #800;
                color: white;
                padding: 5px 12px;
            }
        }

        &__header{
            text-align: center;
            margin: 20px 20px 25px;
        }

        .mistake-info-container{
            color: red;
            font-size: 17px;
        }
    }
}