@import '../../../../Variables/Variables.scss';

.admin-presentation-container{
    width: 100%;
    padding: 20px 0px;
    margin: 20px 0px 70px;

    background: $main-admin-panel-bcg-color;

    display: flex;
    flex-wrap: wrap;

    .figure-part-container{
        @media only screen and (max-width: $medium-screen-width) {
            flex-basis: 100%;
            margin-bottom: 50px;
            border-bottom: 3px solid black;
        }

        @media only screen and (max-width: $large-screen-width) and (min-width: $medium-screen-width){
            flex-basis: 40%;
        }

        @media only screen and (min-width: $large-screen-width){
            flex-basis: 30%;
        }

        .header{
            text-align: center;
        }

        .figure{
            text-align: center;
            margin-bottom: 20px;

            &__picture{
                margin-bottom: 5px;
            }
        }

        .log-out{
            text-align: center;
            font-weight: bold;
            padding-bottom: 10px;

            &:hover{
                cursor: pointer;
            }
        }
    }

    .description-part-container{
        display: flex;
        flex-wrap: wrap;

        @media only screen and (max-width: $medium-screen-width) {
            flex-basis: 100%;
        }

        @media only screen and (max-width: $large-screen-width) and (min-width: $medium-screen-width){
            flex-basis: 60%;
        }

        @media only screen and (min-width: $large-screen-width){
            flex-basis: 70%;
        }

        .header{
            flex-basis: 100%;
            text-align: center;
        }

        .text-container{
            @media only screen and (max-width: $medium-screen-width) {
                flex-basis: 100%;
            }

            @media only screen and (min-width: $medium-screen-width){
                flex-basis: 50%;
            }

            padding: 20px 20px;

            &__header{
                text-align: center;
                margin-bottom: 20px;
            }

            &__ornament{
                width: 40%;
                border-bottom: 5px solid black;
                margin: 0 auto 20px;
            }

            &__text-container{
                font-size: 0.9em;
                text-indent: 10px;
            }
        }
    }
}