@import '../../../stylesheets/Variables/Variables.scss';

.main-menu-container{
    width: 90%;
    margin: 0 auto;
    background: $main-admin-panel-bcg-color;
    margin-bottom: 30px;

    display: flex;
    flex-wrap: wrap;

    .invisible{
        display: none;
    }

    .active{
        border-bottom: 3px solid red;
    }
}