@import '../../Variables/Variables.scss';

.main-content-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: $main-admin-panel-bcg-color;

    .products-menu-container{
        @media only screen and(max-width: 549px){
            flex-basis: 35%;
        }
        @media only screen and(max-width: 1024px) and (min-width: 551px){
            flex-basis: 25%;
        }
        @media only screen and(min-width: 1025px){
            flex-basis: 15%;
        }
        border: 2px solid black;
    }

    .order-area-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media only screen and(max-width: 549px){
            flex-basis: 65%;
        }
        @media only screen and(max-width: 1024px) and (min-width: 551px){
            flex-basis: 75%;
        }
        @media only screen and(min-width: 1025px){
            flex-basis: 60%;
        }
    }

    .advertisement-container{
        @media only screen and(max-width: 1024px){
            flex-basis: 100%;
        }
        @media only screen and(min-width: 1025px){
            flex-basis: 25%;
        }
        border: 2px solid black;
    }
}