
.icon-user:before { content: '\e800'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */