@import '../../Variables/Variables.scss';

.statistics-container{
    padding: 50px 0px;
    background: $main-admin-panel-bcg-color;
    border: 2px solid black;

    &__header{
        text-align: center;
        margin: 20px 20px 50px;
    }

    .presentation-data-container{
        @media only screen and (max-width: $small-screen-width) {
            width: 85%;
        }

        @media only screen and (max-width: $medium-screen-width) and (min-width: $small-screen-width){
            width: 75%;
        }

        @media only screen and (max-width: $large-screen-width) and (min-width: $medium-screen-width){
            width: 65%;
        }

        @media only screen and (min-width: $large-screen-width){
            width: 55%;
            max-width: 850px;
        }

        margin: 50px auto;

        .main-info-container{
            text-align: center;
            
            &__info-span{
                padding-left: 7px;
            }
        }

        &__title{
            text-align: center;
            padding: 30px 0px;
        }
    }
}