@import '../../../Variables/Variables.scss';

.order-form-container{
    width: 90%;
    min-height: 100px;
    padding: 30px 0px;
    margin: 0 auto;
    background: $main-admin-panel-bcg-color;

    .part-container{
        margin: 20px 0px;

        .header-container{
            width: 65%;
            margin: 0 auto;
            border-bottom: 2px solid black;
            margin-bottom: 50px;
            text-align: center;
        }
    
        .data-container{
            width: 65%;
            margin: 0 auto;
            margin-bottom: 30px;
    
            &__value-input,
            select{
                width: 100%;
                padding: 3px 15px;
                font-size: 20px;
            }
                &__label{
                    margin-bottom: 10px;
                }

            .mistake-info-container{
                color: #800000;
            }
        }
    }

    .buttons-container{
        text-align: center;
        margin-top: 25px;
        
        &__button{
            width: 30%;
            padding: 6px 7px;
            margin: 0px 10px;
            background-color: #800000;
            color: white;
            font-size: 16px;
        }
    }

    .invisible{
        display: none;
    }
}