@import '../../stylesheets//Variables/Variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: $basic-font-color;
    font-size: $basic-font-size;

    li{
        list-style: none;
    }
    
    a{
        text-decoration: none;
        color: $basic-font-color;
    }

    input{
        border: none;

        &:focus{
            outline: none;
        }
    }

    button{
        outline: none;
        border: none;
        padding: 3px 12px;

        &:hover{
            cursor: pointer;
        }
    }
}


