@import '../../../Variables/Variables.scss';

.shopping-options-container{
    width: 90%;
    margin: 0 auto;
    
    background: $main-admin-panel-bcg-color;
    border: 2px solid black;

    display: flex;
    flex-wrap: wrap;

    .header-container{
        padding: 10px 20px;
        flex-basis: 100%;
        margin-bottom: 30px;

        h2{
            .header{
                @media only screen and (max-width: $large-screen-width) {
                    display: block;
                }
        
                font-size: 45px;
                color: #800000;
                padding-right: 10px;
                letter-spacing: 1px;
            }
        }
    }
    
    .sing-in-container{
        @media only screen and (max-width: $large-screen-width) {
            flex-basis: 100%;
        }
    
        @media only screen and (min-width: $large-screen-width){
            flex-basis: 33.3%;
        }

        border: 2px solid black;
        padding: 20px 10px;

        .ornament{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            border-bottom: 2px solid black;
        }

        .fileds-container{
            width: 80%;
            margin: 0 auto;

            & > div{
                margin: 20px 0px;

                input,
                .log-in-btn{
                    width: 100%;
                    font-size: 17px;
                    padding: 3px 15px;
                }

                .log-in-btn{
                    background-color: #800000;
                    color: white;
                }

                .prompt{
                    font-size: 15px;
                    &:hover{
                        cursor: pointer;
                    }
                }

                .log-in-btn:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .rejestration-container{
        @media only screen and (max-width: $large-screen-width) {
            flex-basis: 100%;
        }
    
        @media only screen and (min-width: $large-screen-width){
            flex-basis: 33.3%;
        }

        border: 2px solid black;
        padding: 20px 10px;

        .ornament{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            border-bottom: 2px solid black;
        }

        .fileds-container{
            width: 80%;
            margin: 0 auto;

            & > div{
                margin: 50px 0px;

                .rejestration-btn{
                    width: 100%;
                    font-size: 17px;
                    padding: 3px 15px;
                    background-color: #800000;
                    color: white;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .shopping-without-rejestration-container{
        @media only screen and (max-width: $large-screen-width) {
            flex-basis: 100%;
        }
    
        @media only screen and (min-width: $large-screen-width){
            flex-basis: 33.3%;
        }

        border: 2px solid black;
        padding: 20px 10px;

        .ornament{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            border-bottom: 2px solid black;
        }

        .fileds-container{
            width: 80%;
            margin: 0 auto;

            & > div{
                margin: 20px 0px;

                .text{
                    text-indent: 20px;
                }

                .shopping-without-rejestration-btn{
                    width: 100%;
                    font-size: 17px;
                    padding: 3px 15px;
                    background-color: #800000;
                    color: white;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.about-us-container{
    width: 90%;
    margin: 0 auto;
    background: $main-admin-panel-bcg-color;

    .add-opinion-container{
        border: none;
        margin: 20px;
    }
}