@import '../../../Variables/Variables.scss';

.user-orders-container{
    width: 100vw;
    min-height: 220vh;
    position: relative;

    background-color: black;

    .overlay{
        width: 100vw;
        background-color: black;
        opacity: 0.84;

        z-index: 2;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .user-order-container{
        @media only screen and (max-width: $small-screen-width) {
            width: 80%;
        }

        @media only screen and (max-width: $medium-screen-width) and (min-width: $small-screen-width){
            width: 70%;
        }

        @media only screen and (min-width: $medium-screen-width){
            width: 65%;
        }

        z-index: 3;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);

        background-color: #fff;
        padding: 20px 130px 50px;
        border: 2px solid black;
        margin: 50px 0px;

        .product-container{
            margin: 20px 0px;

            &__span{
                font-style: italic;
                padding-left: 10px;
            }
        }

        .summary-container{
            width: 40%;
            margin: 25px 0px;
            border-bottom: 2px solid black;

            &__span{
                font-weight: bold;
                margin-bottom: 10px;
            }
        }
    }
}