@import '../../../../Variables/Variables.scss';

.products-menu-container{
    padding: 15px 0px;
    background: $main-admin-panel-bcg-color;

    .header{
        text-align: center;
    }

    .menu-option-list{
        .item-container{
            text-align: center;
            margin: 10px 0px;

            &__item{
                font-size: 17px;
            }
        }
    }

    .active{
        border-bottom: 2px solid red;
    }
}