$small-screen-width: 576px;
$medium-screen-width: 768px;
$large-screen-width: 1024px;
$extra-large-screen-width: 1400px;

$main-admin-panel-bcg-color: linear-gradient(90deg, rgba(83,77,77,1) 0%, rgba(134,124,126,1) 41%, rgba(184,172,172,1) 100%);
$main-admin-panel-content-container-color: linear-gradient(to right, #d6ae7b, #eacda3);
$assistant-color: white;

$basic-font-size: 18px;

$basic-font-color: black;
$second-font-color: white;

$main-inputs-buttons-padding: 3px;

$main-inputs-buttons-border: 2px solid $second-font-color;