@import '../../Variables/Variables.scss';

.opinions-container{
    min-height: 100vh;
    padding: 50px 0px;
    background-color: black;
    color: white;

    a{
        padding: 20px;

        button{
            font-size: 18px;
            margin: 10px;
            background-color: #800;
            color: white;
            padding: 5px 12px;
        }
    }

    h2{
        text-align: center;
    }

    .opinion-container{
        margin: 40px 20px;
        font-size: 22px;
        text-align: center;

        .description-container{
            margin: 10px;
            font-style: italic;
        }

        .owner-data-container{
            p{
                margin-left: 15px;

                span{
                    font-size: 15px;
                    margin-left: 7px;
                }
            }
        }
    }
}