.basket-container{
    flex-basis: 25%;
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        text-align: center;

        i{
            font-size: 30px;
            margin-bottom: 15px;
        }
    }
}