<div class="order-email-container">
    <h1>Zamówienie w trakcie realizacji!</h1>
  
    <p>
      Dziękujemy za złozenie zamówienia 
      <%= @email_data[:name] %> 
      <%= @email_data[:surname] %>
    </p>
  
    <p>Aby być pewnym, ze zamówienie dojdzie w trakcie ludzkiego terminu, nalezy przelać 1 000 000$ na konto:</p>
    
    <span>312343535345345</span>
  </div>