<div class="order-email-container">
  <h1>Zamówienie w trakcie realizacji!</h1>

  <p>
    Dziękujemy za złozenie zamówienia 
    <%= @user.dataPerson.name %> 
    <%= @user.dataPerson.surname %>
  </p>

  <p>Aby być pewnym, ze zamówienie dojdzie w trakcie ludzkiego terminu, nie jak komputer Emilki nalezy przelać 1 000 000$ na konto:</p>
  
  <span>312343535345345</span>
</div>