.admin-presentation-container{
    width: 100%;
    border: 2px solid black;

    p{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }

    figure{
        text-align: center;
    }
}