@import '../../../Variables/Variables.scss';

.rejestration-form-container{
    width: 90%;
    margin: 0 auto;
    border: 2px solid black;
    min-height: 300px;
    background: $main-admin-panel-bcg-color;

    .header-container{
        width: 60%;
        margin: 30px auto;
        text-align: center;
    }

    .fields-container{
        width: 60%;
        margin: 40px auto;

        & > div{
            margin: 20px;
            text-align: center;
            margin: 20px auto;

            .mistake-information-container{
                margin-top: 5px;
                padding-left: 3px;
                color: #800000;
            }

            input[type="text"],
            input[type="number"],
            select{
                width: 85%;
                padding: 3px 10px;
                font-size: 17px;
            }

            .label-container__label{
                width: 85%;
                display: inline-block;
                text-align: left;
                margin-bottom: 5px;
            }
        }
    }

    .info-container,
    .submit-container{
        width: 60%;
        margin: 25px auto;
        text-align: center;

        button{
            width: 35%;
            padding: 3px 10px;
            margin: 0px 10px;
            font-size: 17px;
            background-color: #800000;
            color: white;
            font-size: 18px;
        }
    }
}