.login-container{
    @media only screen and(max-width: 767px){
        flex-basis: 100%;
        order: 5;
    }
    @media only screen and(min-width: 768px){
        flex-basis: 50%;
        order: 2;
    }

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    svg{
        font-size: 35px;
    }

        &__header{
            flex-basis: 100%;
            margin: 0px 0px 12px;
            text-align: center;
        }

        &__element-container{
            flex-basis: 100%;
            text-align: center;

            &:hover{
                cursor: pointer;
            }

            span{
                font-style: italic;
            }
        }

    .log-in-window{
        width: 30vw;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        color: black;
        padding: 5px 0px 15px;

        & > div{
            margin: 8px 0px;
            text-align: center;

            & > p{
                font-size: 22px;
                margin-bottom: 10px;
            }

            & > input{
                width: 55%;
                padding: 3px 7px;
                font-size: 15px;
                margin: 0px 5px;
                border: 2px solid #800;
            }

            button{
                padding: 5px 12px;
                font-size: 15px;
                margin: 0px 5px;
                background-color: #800;
                color: white;

                &:hover{
                    background-color: lighten(#800, 10%);
                    transition: background-color, color, .5s;
                }
            }
        }

        & > div.btn-container{
            margin-top: 15px;
        }
    }

    .unvisible{
        visibility: hidden;
        opacity: 0;
        transition: opacity, 1s;
    }

    .visible{
        opacity: 1;
        visibility: visible;
        transition: opacity, 1s;
    }
}