.basket-summary-container{
    width: 100%;
    padding: 50px 0px;
    background-color: white;
    display: flex;
    justify-content: center;

    .product-part-without-products-part{
        flex-basis: 100%;
        border: 2px solid black;
    }

    .product-part-with-products{
        flex-basis: 70%;
        min-height: 100px;
        border: 2px solid black;
        text-align: center;

        .product-flex-container{
            display: flex;
    
            .picture-container{
                flex-basis: 20%;
                border: 2px solid black;
                text-align: center;
    
                &__picture{
                    width: 130px;
                }
    
                &__remove-product{
                    font-size: 20px;
    
                    &:hover{
                        cursor: pointer;
                        color: red;
                    }
                }
            }
    
            .description-container{
                flex-basis: 40%;
                border: 2px solid black;
                padding-top: 30px;
                text-align: center;
            }
    
            .change-quantity-container{
                flex-basis: 40%;
                border: 2px solid black;
                text-align: right;
                padding: 15px;
    
                .summary-price-container{
                    position: relative;

                    &__price{
                        color: red;
                    }
    
                    &__ornament{
                        border-bottom: 3px solid red;
                    }

                    &__ornament{
                        width: 40%;
                        position: absolute;
                        right: 0px;
                    }
                }
            }
        }
    }

    .summary-part{
        flex-basis: 30%;
        min-height: 100px;
        border: 2px solid black;
        text-align: center;

        .subcontainer{
            margin: 30px 0px;

            &__price{
                font-size: 22px;
                color: red;
            }
    
            &__price-of-transport{
                font-size: 18px;
                color: red;
            }
    
            &__continue-shopping-btn{
                width: 65%;
                padding: 5px 10px;
                color: white;
                background-color: red;
                border: none;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }


    // .product-flex-container{
    //     display: flex;

    //     .picture-container{
    //         flex-basis: 20%;
    //         border: 2px solid black;
    //         text-align: center;

    //         &__picture{
    //             width: 130px;
    //         }

    //         &__remove-product{
    //             font-size: 20px;

    //             &:hover{
    //                 cursor: pointer;
    //                 color: red;
    //             }
    //         }
    //     }

    //     .description-container{
    //         flex-basis: 40%;
    //         border: 2px solid black;
    //         text-align: center;
    //     }

    //     .change-quantity-container{
    //         flex-basis: 40%;
    //         border: 2px solid black;
    //         text-align: center;

    //         .summary-price-container{
    //             &__price{
    //                 color: red;
    //             }

    //             &__ornament{
    //                 border-bottom: 3px solid red;
    //             }
    //         }
    //     }
    // }
}