*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: 100px auto;
    background-color: lightgray;
    color: black;

    li{
        list-style: none;
        border-bottom: 2px solid white;
    }
    
    a{
        text-decoration: none;
        color: black;
    }

    input{
        &:focus{
            outline: none;
        }
    }

    button{
        background-color: red;
        color: white;
        outline: none;
        border: none;
    }
}


