.main-menu-container{
    margin: 0 auto;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;

    .logo-container{
        min-height: 100px;
        border: 2px solid black;
        flex-basis: 25%;
        order: 1;

        &__logo{
            width: 85%;
            max-width: 100px;
        }
    }

    .hamburger-menu-container{
        border: 2px solid black;
        flex-basis: 50%;
        order: 2;
        @media only screen and(max-width: 767px){
            display: block;
            order: 2;
        }
        @media only screen and(min-width: 768px){
            display: none;
        }
    }

    .basket-container{
        border: 2px solid black;
        flex-basis: 25%;
        order: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-container{
        padding: 20px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @media only screen and(max-width: 767px){
            flex-basis: 100%;
            order: 5;
        }
        @media only screen and(min-width: 768px){
            flex-basis: 50%;
            order: 2;
        }

        i{
            font-size: 35px;
        }

        h2{
            margin: 0px 0px 12px;
            flex-basis: 100%;
            text-align: center;
        }

        .log-in-window{
            width: 30vw;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgb(126, 136, 139);
            color: white;

            & > div{
                margin: 8px 0px;
                text-align: center;

                & > p{
                    font-size: 22px;
                }

                & > input{
                    width: 75%;
                }

                button{
                    margin: 0px 10px;
                    background-color: black;
                    padding: 3px 8px;
                    font-size: 19px;

                    &:hover{
                        background-color: #fff;
                        color: black;
                        transition: background-color, color, .5s;
                    }
                }
            }
        }

        .unvisible{
            visibility: hidden;
            opacity: 0;
            transition: opacity, 1s;
        }

        .visible{
            opacity: 1;
            visibility: visible;
            transition: opacity, 1s;
        }
    }

    .option-menu-container{
        flex-basis: 100%;
        padding: 20px;
        border: 2px solid black;
        order: 4;
        font-size: 17px;

        .list{
            display: flex;
            justify-content: space-around;
            align-items: center;

            @media only screen and(max-width: 767px){
                flex-direction: column;
            }
            @media only screen and(min-width: 768px){
                flex-direction: row;
            }
        }
    }

    .invisible{
        display: none;
    }

    .active{
        border-bottom: 3px solid red;
    }
}







































