.product-list-container{
    
    .header-container{
        padding: 5px;
        margin: 0px 0px 50px;

        h2{
            background-color: green;
            padding-left: 30px;
        }
    }

    .table-container{

        img{
            width: 150px;
        }

        table, tr, td, th{
            border: 2px solid black;
        }
    }
    
}