.product-list-container{
    
    .header-container{
        padding: 5px;
        margin: 0px 0px 50px;

        h2{
            background-color: green;
            padding-left: 30px;
        }
    }

    .table-container{

        table{
            width: 100%;
            border: 2px solid black;

            th{
                height: 70px;
                font-weight: bold;
                font-size: 20px;
                border: 2px solid black;
                padding: 0px 5px;
            }

            td{
                border: 2px solid black;
                text-align: center;

                img{
                    width: 150px;
                }

                .edit-button{
                    width: 70%;
                    background-color: blue;
                    padding: 5px 10px;
                }

                .remove-button{
                    width: 70%;
                    background-color: red;
                    padding: 5px 10px;
                }
            }
        }
    }
}

.background{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images/Kaufland-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .overlay{
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.84;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .edit-form-container{
        width: 40vw;
        height: 50vh;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .input-container{
            margin: 10px 0px;

            label{
                color: white;
                font-size: 20px;
                margin-bottom: 3px;
            }

            input,
            select{
                width: 100%;
                font-size: 18px;
                padding: 3px 15px;
                margin-top: 10px;
            }

            .mistake-info-container{
                color: red;
            }
        }

        .button-container{
            button{
                width: 40%;
                font-size: 18px;
                padding: 3px 15px;
                margin: 0px 30px;
            }
        }
    }
}

