.rejestration-form-container{
    border: 2px solid black;
    min-height: 300px;
    background-color: beige;

    .header-container{
        width: 60%;
        margin: 30px auto;
        text-align: center;
    }

    .fields-container{
        border: 2px solid black;
        width: 60%;
        margin: 25px auto;

        & > div{
            margin: 15px;

            input[type="text"],
            input[type="number"],
            select{
                width: 85%;
                padding: 3px 10px;
                font-size: 17px;
            }
        }
    }

    .info-container,
    .submit-container{
        // border: 2px solid black;
        width: 60%;
        margin: 25px auto;
        text-align: center;

        button{
            width: 65%;
            padding: 3px 10px;
            font-size: 17px;
        }
    }
}