.clients-list-container{

    .top-part{
        display: flex;
        align-items: center;

        .add-client-button{
            padding: 3px 15px;
            font-size: 19px;
            flex-grow: 1;
        }

        h1{
            flex-grow: 3;
            text-align: center;
        }
    }

    

    .clients-table-container{
        table{
            width: 100%;

            th{
                height: 70px;
                font-weight: bold;
                font-size: 20px;
                border: 2px solid black;
                padding: 0px 5px;
            }

            td,tr{
               border: 2px solid black;
               text-align: center;

               button{
                   padding: 3px 10px;
                   margin: 5px 10px;
                   font-size: 17px;

                   .remove-user-button{
                       background-color: red;
                   }
                   
                   .edit-user-button {
                       background-color: green;
                   }
               }
            }
        }
    }
}