@import '../../../Variables/Variables.scss';

.basket-summary-container{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0px;

    background: $main-admin-panel-bcg-color;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .product-part-with-products{
        @media only screen and (max-width: $large-screen-width) {
            flex-basis: 100%;
        }
    
        @media only screen and (min-width: $large-screen-width){
            flex-basis: 70%;
        }

        min-height: 100px;
        text-align: center;

        h2{
            padding-bottom: 10px;
            border-bottom: 2px solid black;
        }

        .product-flex-container{
            display: flex;
            margin: 10px 0px;
            border-bottom: 2px solid black;
    
            .picture-container{
                padding-top: 20px;
                flex-basis: 20%;
                text-align: center;
                margin-bottom: 10px;

                figure{
                    .picture-container__picture{
                        width: 85%;
                        max-width: 100px;
                    }

                    .picture-container__remove-product{
                        width: 25%;
                        margin: 0 auto;
                        margin-top: 10px;
                        font-size: 17px;
        
                        &:hover{
                            cursor: pointer;
                            color: #800000;
                        }
                    }
                }
            }
    
            .description-container{
                flex-basis: 40%;
                padding-top: 30px;
                text-align: center;

                h3{
                    margin-bottom: 20px;
                }

                span{
                    font-style: italic;
                }
            }
    
            .change-quantity-container{
                flex-basis: 40%;
                text-align: right;
                padding: 15px;

                h3{
                    margin-bottom: 10px;
                }

                input{
                    border: 2px solid #800;
                    padding: 3px 5px;
                    margin-bottom: 10px;
                }
    
                .summary-price-container{
                    position: relative;

                    &__price{
                        color: #800000;
                    }
    
                    &__ornament{
                        border-bottom: 3px solid #800000;
                    }

                    &__ornament{
                        width: 40%;
                        position: absolute;
                        right: 0px;
                    }
                }
            }
        }
    }

    .summary-part{
        @media only screen and (max-width: $large-screen-width) {
            flex-basis: 100%;
        }
    
        @media only screen and (min-width: $large-screen-width){
            flex-basis: 30%;
        }

        min-height: 100px;
        text-align: center;

        .subcontainer{
            margin: 30px 0px;

            &__price{
                font-size: 22px;
                color: #800000;
            }
    
            &__price-of-transport{
                font-size: 18px;
                color: #800000;
            }
    
            &__continue-shopping-btn{
                width: 65%;
                padding: 5px 10px;
                color: white;
                background-color: #800000;
                border: none;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}