@import '../../../Variables/Variables.scss';

.order-area-container{    
    .products-container{
        .row{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .single-product-container{
                background-color: white;
                flex-basis: 90%;

                @media only screen and (min-width: $medium-screen-width) {
                    flex-basis: 45%;
                }

                @media only screen and (min-width: $extra-large-screen-width) {
                    flex-basis: 30%;
                }
    
                padding: 10px;
                margin: 15px 10px;
                text-align: center;
                
                .product-picture{
                    width: 70%;
                    margin-bottom: 10px;
                }
        
                .product-description{
                    text-align: center;
                    font-size: 17px;
                    margin: 10px;
                }
        
                .add-to-basket-button{
                    width: 60%;
                    padding: 5px 12px;
                    font-size: 15px;
                    margin: 0px 5px;
                    background-color: #800;
                    color: white;
        
                    &:hover{
                        cursor: pointer;
                    }
                }
            
                .select_quantity_product{
                    width: 30%;
                    padding: 3px 7px;
                    font-size: 15px;
                    margin: 0px 5px;
                    border: 2px solid #800;
                }
            }
        }
    
        .hidden{
            display: none;
        }
    }

    .switch-container{
        text-align: center;
        margin: 17px 0px;

        .switch{
            display: inline;
            margin: 0px 7px;

            span{
                font-size: 20px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}