@import '../../../../stylesheets/Variables/Variables.scss';

.log-in-panel-container{
    width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: $main-admin-panel-bcg-color;
    
    .log-in-panel{
        padding: 30px;

        background-color: #fff;
        border-radius: 10px;

        @media only screen and (max-width: $small-screen-width) {
            flex-basis: 85%;
        }

        @media only screen and (max-width: $medium-screen-width) and (min-width: $small-screen-width){
            flex-basis: 70%;
        }

        @media only screen and (max-width: $large-screen-width) and (min-width: $medium-screen-width){
            flex-basis: 60%;
        }

        @media only screen and (min-width: $large-screen-width) and (max-width: $extra-large-screen-width){
            flex-basis: 50%;
        }

        @media only screen and (min-width: $extra-large-screen-width){
            flex-basis: 40%;
        }

        .header{
            margin-bottom: 30px;
            text-align: center;
        }

        .input-container{
            margin: 10px 0px 20px;
            text-align: center;

            &__input{
                width: 50%;
                padding: 5px 12px;
                margin-top: 5px;
                border: 2px solid #800;
            }
        }

        .button-container{
            margin-top: 20px;
            text-align: center;

            &__button{
                width: 50%;
                padding: 5px 12px;
                background-color: #800;
                color: #fff;

                &:hover{
                    background-color: lighten(#800, 10%);
                }
            }
        }
    }
}