@import '../../Variables/Variables.scss';

.order-list-container{
    min-height: 100vh;
    background-color: #fff;

    .header-part-container{
        flex-basis: 100%;
        min-height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $main-admin-panel-bcg-color;
        margin-bottom: 50px;
    }

    .order-part-container{
        flex-basis: 100%;
        height: 35vh;
        background: $main-admin-panel-bcg-color;
        text-align: center;
        padding: 10px 20px;
        margin-bottom: 50px;

        h3{
            margin: 10px 0px 30px;
        }

        table{
            width: 100%;
            td,tr,th{
                border: 2px solid black;
            }

            .th-name{
                width: 40%;
            }

            .th-surname{
                width: 40%;
            }

            .th-show-orders{
                width: 20%;
            }
        }
    }
}