@import '../../Variables/Variables.scss';

.order-list-container{
    min-height: 100vh;
    padding: 30px 0px 50px;
    background: $main-admin-panel-bcg-color;

    .header-part-container{
        flex-basis: 100%;
        min-height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .order-part-container{
        flex-basis: 100%;
        min-height: 35vh;
        text-align: center;
        padding: 10px 20px;
        margin-bottom: 20px;

        h3{
            margin: 10px 0px 30px;
        }

        table{
            width: 100%;
            background-color: #fff;

            td,tr,th{
                padding: 3px 8px;
                border: 2px solid black;

                button{
                    font-size: 18px;
                    margin: 10px;
                    background-color: #800;
                    color: white;
                    padding: 5px 12px;
                }
            }

            .th-name{
                width: 40%;
                font-size: 20px;
                color: #800;
            }

            .th-surname{
                width: 40%;
                font-size: 20px;
                color: #800;
            }

            .th-show-orders{
                width: 20%;
                font-size: 20px;
                color: #800;
            }
        }
    }
}